<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>RuangAdmin - Edit Property</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('../admin/partials/sidebar') %>
      <!-- Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- TopBar -->
          <%- include('../admin/partials/topbar') %>
            <!-- Topbar -->

            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">List Properties</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="./">Home</a></li>
                  <li class="breadcrumb-item">Tables</li>
                  <li class="breadcrumb-item active" aria-current="page">List Properties</li>
                </ol>
              </div>

              <!-- Row -->
              <div class="row">
                <!-- Datatables -->
                <div class="col-lg-12">
                  <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Properties</h6>
                    </div>
                    <div class="table-responsive p-3">
                      <div class="scroll-top">
                        <div class="scroll-content"></div>
                      </div>
                      <table class="table align-items-center table-flush" id="dataTable">
                        <thead class="thead-light">
                          <tr>
                            <th>ID</th>
                            <th>Tipo de Negocio</th>
                            <th>Precio</th>
                            <th>Dirección</th>
                            <th>Área</th>
                            <th>Habitaciones</th>
                            <th>Baños</th>
                            <th>Garage</th>
                            <th>Departmento</th>
                            <th>Ciudad</th>
                            <th>Barrio</th>
                            <th>Estado</th>
                            <th>Propietario</th>
                            <th>Estrato</th>
                            <th>Condición</th>
                            <th>Piso</th>
                            <th>Año de Construcción</th>
                            <th>Descripción</th>
                            <th>Link de Youtube</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>ID</th>
                            <th>Tipo de Negocio</th>
                            <th>Precio</th>
                            <th>Dirección</th>
                            <th>Área</th>
                            <th>Habitaciones</th>
                            <th>Baños</th>
                            <th>Garage</th>
                            <th>Departmento</th>
                            <th>Ciudad</th>
                            <th>Barrio</th>
                            <th>Estado</th>
                            <th>Propietario</th>
                            <th>Estrato</th>
                            <th>Tipo</th>
                            <th>Piso</th>
                            <th>Año</th>
                            <th>Descripción</th>
                            <th>Link de Youtube</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <% properties.forEach(property=> { %>
                            <tr>
                              <td>
                                <%= property.id %>
                              </td>
                              <td>
                                <%= property.transactionType %>
                              </td>
                              <td>
                                <%= property.price %>
                              </td>
                              <td>
                                <%= property.address %>
                              </td>
                              <td>
                                <%= property.area %>
                              </td>
                              <td>
                                <%= property.rooms %>
                              </td>
                              <td>
                                <%= property.bathrooms %>
                              </td>
                              <td>
                                <%= property.garage %>
                              </td>
                              <td>
                                <%= property.department %>
                              </td>
                              <td>
                                <%= property.city %>
                              </td>
                              <td>
                                <%= property.neighborhood %>
                              </td>
                              <td>
                                <%= property.status %>
                              </td>
                              <td>
                                <%= property.ownerId %>
                              </td>
                              <td>
                                <%= property.residential_stratum %>
                              </td>
                              <td>
                                <%= property.property_condition %>
                              </td>
                              <td>
                                <%= property.floor %>
                              </td>
                              <td>
                                <%= property.year_built %>
                              </td>                                                         
                              <td>
                                <%= property.description.length> 50 ? property.description.substring(0, 50) + '...' :
                                  property.description %>
                                  <button type="button" class="btn btn-link" data-toggle="modal"
                                    data-target="#descriptionModal<%= property.id %>">Read more</button>
                              </td>
                              <td>
                                <%= property.youtubeLink %>
                              </td> 
                              <td><img src="<%= property.img %>" alt="Property Image"
                                  style="width: 50px; height: auto;"></td>
                              <td>
                                <a href="../admin/edit-property/<%= property.id %>"
                                  class="btn btn-primary btn-sm">Edit</a>
                              </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="descriptionModal<%= property.id %>" tabindex="-1" role="dialog"
                              aria-labelledby="descriptionModalLabel<%= property.id %>" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="descriptionModalLabel<%= property.id %>">Description
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <%= property.description %>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--Row-->

              <!-- Modal Logout -->
              <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                      <a href="login.html" class="btn btn-primary">Logout</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!---Container Fluid-->
        </div>
      </div>

      <!-- Scroll to top -->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <%- include('../admin/partials/scripts') %>
      

        <!-- Page level custom scripts -->
        <script>
          $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable 
          });
        </script>
        <script src="/admin/js/top-scroll.js"></script>

</body>

</html>