<!doctype html>
<html lang="en">
<%- include('partials/header', { pageTitle: 'Detalles de la propiedad' }) %>

  <body>

    <%- include('partials/navbar') %>

      <div class="hero page-inner overlay" style="background-color: var(--bs-primary)">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
              <h1 class="heading" data-aos="fade-up">
                <%= property.address %>
              </h1>

              <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                <ol class="breadcrumb text-center justify-content-center">
                  <li class="breadcrumb-item "><a href="/">Home</a></li>
                  <li class="breadcrumb-item "><a href="/properties">Properties</a></li>
                  <li class="breadcrumb-item active text-white-50" aria-current="page">
                    <%= property.address %>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6 mb-4">
              <div class="img-property-slide-wrap">
                <div class="img-property-slide">
                  <% if (property && property.images && property.images.length> 0) { %>
                    <% property.images.slice(1).forEach(image=> { %>
                      <img src="<%= baseUrl + image.img %>" alt="Image" class="img-fluid">
                      <% }) %>
                        <% } else { %>
                          <p>No images available</p>
                          <% } %>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <h2 class="heading text-primary">
                <% if (property && property.address) { %>
                  <%= property.address %>
                    <% } %>
              </h2>
              <p class="property-meta">
                <%= property.city %> - <%= property.department %>
              </p>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">
                    <%= property.rooms %> Habitaciones
                  </span>
                </span>
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">
                    <%= property.bathrooms %> Baños
                  </span>
                </span>
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-home me-2"></span>
                  <span class="caption">
                    <%= property.area %> m²
                  </span>
                </span>
              </div>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-money me-2"></span> <!-- Ícono de dinero -->
                  <span class="caption">$<%= property.price %></span>
                </span>
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-home me-2"></span>
                  <span class="caption">
                    <%= property.garage %> Garajes
                  </span>
                </span>
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-home me-2"></span>
                  <span class="caption">
                    <%= property.property_type %>
                  </span>
                </span>
              </div>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-business_center me-2"></span>
                  <span class="caption">
                    <% if (property.transactionType==='Sale' ) { %>
                      Venta
                      <% } else if (property.transactionType==='Rent' ) { %>
                        Arrendo
                        <% } else { %>
                          <%= property.transactionType %> <!-- Muestra el valor original si no coincide -->
                            <% } %>
                  </span>
                </span>
              </div>
            </div>
            <!-- Descripción en una fila nueva -->
            <div class="row mt-4">
              <div class="col-12">
                <p class="property-description text-black-50">
                  <%- property.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 text-center">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="320" height="560" src="<%= property.youtubeLink %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        


        <%- include('partials/footer') %>

          <!-- Preloader -->
          <div id="overlayer"></div>
          <div class="loader">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

          <script src="/assets/js/bootstrap.bundle.min.js"></script>
          <script src="/assets/js/tiny-slider.js"></script>
          <script src="/assets/js/aos.js"></script>
          <script src="/assets/js/navbar.js"></script>
          <script src="/assets/js/counter.js"></script>
          <script src="/assets/js/custom.js"></script>
  </body>

</html>